@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

html {
    height: 100%;
    overflow: auto;
}

body {
    min-height: 100vh ;
    position: relative;
}

.day {
    background-image: url(./assests/day.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.day-mobile {
    background-image: url(./assests/day_mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.night {
    background-image: url(./assests/night.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.night-mobile {
    background-image: url(./assests/night_mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

header {
    display: flex;
    justify-content: space-around;
    font-size: 4rem;
    height: 100px;
    padding: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.today {
    font-size: 1.75rem;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
   }

img {
    height: 15em;
    width: auto;
}

.report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 30px;

}
.temperature {
    font-size:5rem;
}

.weather {
    font-size: 3rem;
}

footer {
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5rem; 
}

@media (min-width: 481px) and (max-width: 767px) {
    header {
        font-size:3rem;
    }

    .today {
        font-size: 1.25rem;
    }

    .temperature {
        font-size:4rem;
    }

    .weather {
        font-size: 2rem;
    }
}